.auth-form {
  display: flex;
  flex-direction: column;
  width: 300px; /* optional */
  margin: auto; /* optional, to center */
  gap : 1rem;
  color:#4a4a4a;
}

.form-input {
  margin: 10px 0; /* spacing between inputs */
  padding: 10px;
}
.form-header{
    display:inline-flex;
    align-items:center;
    gap:0.5rem;
    margin-top: 2.5rem;
}

.form-title{
    font-size:1.8rem;

}

.form-input{
    width:100%;
    padding:0.5rem 0.75rem;
    border:1px solid #4a4a4a;
    break-after:4px;
   
}

.form-footer{
 display:flex;
 width:100%;
 justify-content: space-between;
 font-size:0.8rem;
 margin-top:0.5rem;

}

.fgt-password , .toggle-auth-state{
 cursor:pointer;
}

.form-button{
  background-color: #000;
  color:#fff;
  font-size:1rem;
  padding:0.5rem 2rem;
  margin-top:1rem;
  border:none;
  border-radius:4px;
  cursor:pointer;
}