.hero{
    height:100vh;
}
.hero_top{
    display:flex;
    padding-inline:20px;
    gap:20px;
    justify-content: space-between;
}
.hero_left{
    max-width:50%;
    margin-top:100px;
}
.hero_left h2{
    font-size:26px;
}

.hero_left h1{
    font-size:3.5rem;
    margin-top:10px;
}
.hero_right{
    max-width:50%;
}
.hero .hero-img{
    width:600px;
    height:500px;
    object-fit:contain;
    position:relative;
    z-index:1;
    
}


